///1024
.wrap{
          
    @include pc-width {
                width:90%;
         }         
      }
 
.gmap{
    @include pc-width {
                width:40%;
         }	
}

.header{
    @include pad-width {
    @include bg("header_desktop.png");
      background-position:  50% 50%;
      height: 420px;
         }  
	
}

.maintitle{
    @include pad-width {
  @include display(null,null,80px auto,null);  


         }  
}

//768
.chefinfo .photo{
        
    @include pad-width {
		@include bg("main_chef_brown_s.png");
		width: 250px;
		margin: 0 20px;

         }
    @include pads-width {
		margin: 0 25px 0 0 ;
		width: 190px;
         }
    @include phone-width {         
      @include bg("main_chef_brown.png");
              width: 100%;
         }

    @include phones-width {
         width: 100%;
        margin:0;
         } 

      }


.chefintroduce{
    @include pad-width {
	width: 60%;
         }
    @include pads-width {
	padding: 20px 0 0 0;
         }

       @include phone-width {
width: 99%;
padding:  30px 10px;
         }

       @include phones-width {
width: 99%;
padding:  30px 10px;
         } 
}


.resavation .gmap{
        
    @include pad-width {
      width: 45%;
         }
    @include phone-width {
      width: 100%;
         }

    @include phones-width {
      width: 100%;
           margin: 10% 1% 2% 0 
         }
     }

.re_form{

      @include phone-width {
      width: 100%;
         }
    @include phones-width {
      width: 100%;

         }	
}

//569 

.professional ul li{

    @include pads-width {
      width: 70%;
      margin-left: 15%;
         }
}

.linkinfo{
    @include pad-width {
      right: 10px;
         }
       @include phone-width {
      position: static;
      margin-top: 10%;
         }  	
       @include phones-width {
      position: static;
      margin-top: 10%;
         }      
}

//320

.footer ul li{
       @include phone-width {
      width: 100%;
      margin-bottom: 5%;
         } 

}

.peoplesay ul li{
       @include phones-width {
         width: 100%;
        margin-left: 3%;
         } 

}

.peoplesayword{
       @include phones-width {
         width: 200px;

         } 
}



/* menu 768以下伸縮選單 */
.showmenu{
       @include pad-width {
    display: block;
    float: right;
         } 
}

 
.menu{
    @include pad-width {
    /*隱藏選單開始*/
    max-height: 0px;
    overflow: hidden;
    /*隱藏選單結束*/
    transition: max-height 1s;

    /*絕對定位疊在網頁上*/
    position: absolute;
    z-index: 100;
    /*header 80px+1px boder 線條*/
    top: 56px;
    left: 0;
    right: 0;
    background: #000;
text-align: center;
         } 
}
 
.menu li{
  @include pad-width {
    border-top: 1px solid $color_sub;
  display: block;
         } 
  }

.menu li a{
  @include pad-width {
  display: block;
  padding: 1em;
         }   
}
.menu li a:hover{
   @include pad-width {
    background: $color_sub;
    color: #fff;
         }    
  }



.menu_show .menu{
  @include pad-width {
    max-height: 500px;
         } 
 }